/* base: */

/* common: */

/* layout: */

/* modules: */
.m-post-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.m-post-item img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.m-feature-image img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.m-banner {
  position: relative;
}
.m-banner img {
  display: block;
  height: 300px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.m-banner .l-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

@media only screen and (min-width: 576px) {
  .m-post-item > div:last-child {
    position: relative;
  }
  .m-post-item img {
    height: 200px;
    width: 200px;
  }

  .m-post-item .l-actions {
    position: absolute;
    bottom: 0;
  }

  .m-feature-image img {
    height: 320px;
  }

  .m-banner img {
    height: 320px;
  }
}

@media only screen and (min-width: 992px) {
  .m-feature-image img {
    height: 350px;
  }

  .m-banner img {
    height: 350px;
  }
}

@media only screen and (min-width: 992px) {
  .m-post-item img {
    height: 250px;
    width: 250px;
  }

  .m-feature-image img {
    height: 400px;
  }

  .m-banner img {
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .m-post-item img {
    height: 280px;
    width: 280px;
  }

  .m-feature-image img {
    height: 450px;
  }

  .m-banner img {
    height: 450px;
  }
}
